body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0079BF;
    margin: 0;
    padding: 0;
    font-family:"Open Sans", sans-serif;
    overflow: auto;
}

.title {
    margin: 0;
    padding: 0;
    padding-top: 2%;
    text-align: center;
    font-family: Brush Script MT, Rockwell;
    font-size: 86px;
    color: white;
}

h2 {
    font-size: 2em;
    font-weight: 100;
    margin-top: 5px;
}

.green-button {
    background-color: #5EB54A;
    border-radius: 0.3em;    
    color: white;
    font-size: 14px;
    font-weight: 100;
    padding: 5px;
}

.green-button:hover {
    cursor: pointer;
}

.textbox {
    font-size: 1em;
    border-radius: 0.3em;
    border: 1px gray solid;
    padding: 5px;
}

.textbox:focus {
    outline:none;
    background-color: #EDEFF0;
    box-shadow: 1px 1px 1px 1px #EDEFF0;
}

.user-form {
    /*display: flex;*/
    /*width: 60%;*/
    margin: 3em auto;
    margin-top: 1.5em;
    /*padding-left: 15%;*/

}
.reg-login {
    margin: 0;
    display:inline-block;
    vertical-align: top;
    background-color: white;
    border: 1px dodgerblue solid;
    width: 250px;
    padding: 2em;
    border-radius: 1em;
    text-align: center;
}
form {
    margin: auto;
    padding: 0 auto;
}

#forgot-btn {
    border: none;
    background-color: white;
    text-decoration: underline;
    color: gray;
}

#link-btn {
    border: none;
    font-size: 1em;
    background-color: white;
    text-decoration: underline;
    color: gray;
}

#link-btn:hover {
    color: #0079BF;
    cursor: pointer;
}

.forgot {

}

.email-error {
    font-size: 0.7em;
    color: red;

}

.direction {
    text-align: left;
    background-color: lightgray;
    padding: 15px;
    border-radius: 0.8em;
}

#forgot-btn:hover {
    color: #0079BF;
    cursor: pointer;
}
input {
    display: block;
    margin: 10px auto;
}

.password-error {
    display: none;
    font-size: 0.8em;
    color: red;
}

.reset-confirm {
    margin-top: 40px;
    background-color: white;
    text-align: center;
    padding: 35px;
    border-radius: 0.8em;
}
